{% extends "base.html" %}
{% block content%}
<br><br><br><br><br>
<!-- view ui -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
  
    </div>
    <div class="col-md-8">
        <div class="ui card" style="width:650px;">
            <div class="content">
                  <img class="ui avatar image" src="{{ user.profile.profile_picture.url}}"> Post Title: <strong> {{ object.description }} </strong>
            </div>
            <div class="image">
              <img src="{{ object.image.url }}" alt="">
            </div>
            <div class="content">
              <span class="right floated">
                  {% if object.user == profile %}
                  <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                  </div>
                  {% endif%}
              </span>
              <h2>
                  <a class="article-title" href="{{ object.link }} "> view site</a>
              </h2>
            </div>
            <div class="content">
                
                    <span class="right floated">
                        <h2 class="article-title">Design:{{ object.design }}</h2>
                    </span>
                    <span>
                        <h2 class="article-title">Usability:{{ object.usability }}</h2>
                    </span>
                    <span class="right floated">
                        <h2 class="article-title">Creativity:{{ object.creativity }}</h2>
                    </span>
                    <span>
                        <h2 class="article-title">Content:{{ object.content }}</h2>
                    </span>
            </div>
            
          </div>

    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>

{% endblock%}